<launch>
  <include file="$(find ransac_project)/launch/stat_config_bags.launch"/>
    <node pkg = "ransac_project" type = "nodeRansac" name = "nodeRansac" output="screen">
        <param name = "verbose" value = "false" />
        <param name = "winWidth" value = "50.0" />
        <param name = "winLength" value = "30.0" />
        <param name = "threshold" value = "0.4" />
    </node>


  <node pkg = "ransac_project" type = "nodeControl" name = "nodeControl" output="screen" clear_params="true">
    <param name = "KPT" value = "10.0" />
    <param name = "KIT" value = "0.0" />
    <param name = "KRT" value = "1.0" />
    <param name = "KVT" value = "-100.0" />
    <param name = "length" value = "4.0" />
    <param name = "rampTime" value = "5.0" />
    <!--param name = "platform" value = 'pioneer' /-->
    <param name = "platform" value = 'vero' />
    <param name = "maxLinearVel" value = "0.3" />
  </node>
</launch>