<launch>
	<include file="$(find vero)/launch/vero_sim.launch"/>

<!-- 	<include file="$(find ransac_project)/launch/nodeRansac.launch"/>
 -->
	<!-- <include file="$(find ransac_project)/launch/nodeControl.launch"/> -->

	<node pkg="vero" type="vero2dbw" name="vero2dbw_node" output="screen"/>

	<include file="$(find vero)/launch/rviz.launch"/>

	<!-- <node pkg="rosbag" type="record" name="rosbag_record" args="-a -o /home/$(env USER)/Desktop/vero" /> -->
</launch>