<?xml version="1.0"?>

<launch>

  <arg name="sim_param_file" default="$(find vero_sim)/yaml/single_vehicle.yaml" />
  <arg name="world_file" default="$(find dbw_mkz_gazebo)/worlds/empty_world.world"/>
  <!--<arg name="world_file" default="$(find road_generation_gazebo)/worlds/custom.world"/>-->
  <!--<arg name="world_file" default="$(find road_generation_gazebo)/worlds/example.world"/>-->
  <arg name="use_joy" default="false" />
  <arg name ="headless" default="false" />
  <arg name="use_camera_control" value="false" />
  <arg name="urdf_file" value="$(find vero_sim)/urdf/vero.urdf.xacro" />

  <include file="$(find vero_sim)/launch/dbw_mkz_gazebo_modified.launch" >
    <arg name="use_camera_control" value="$(arg use_camera_control)" />
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="sim_param_file" value="$(arg sim_param_file)" />
    <arg name="urdf_file" value="$(arg urdf_file)" />
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Joystick demo -->
  <group if="$(arg use_joy)">
    <arg name="enable" default="false"/>
    <node ns="mkz" pkg="dbw_mkz_joystick_demo" type="joystick_demo" name="joystick_demo" output="screen" >
      <param name="enable" value="$(arg enable)" />
    </node>

    <!-- Joystick driver -->
    <node pkg="joy" type="joy_node" name="joy_node" output="screen" >
      <param name="deadzone" value="0.01" />
    </node>
  </group>

  <include file="$(find dbw_mkz_can)/launch/dbw.launch" >
    <arg name="live" value="false" />
    <arg name="load_urdf" value="false" />
    <arg name="can_ns" value="can_bus_dbw" />
    <arg name="vehicle_ns" value="mkz" />
  </include>

</launch>
